{
  "extends": ["airbnb-base", "prettier", "plugin:security/recommended"],
  "plugins": ["mocha", "security"],
  "env": {
    "node": true,
    "es2021": true,
    "mocha": true,
    "arrowFunctions": true
  },
  "rules": {
    "import/extensions": ["error", "ignorePackages"],
    "class-methods-use-this": "off",
    "no-new": "warn"
  }
}
