{
    "extends": ["airbnb-base", "prettier"],
    "plugins": [
        "mocha"
    ],
    "env": {
        "node": true,
        "es2021": true,
        "mocha": true
    },
    "rules": {
        "import/extensions": ["error", "ignorePackages"]
    }
}
