{
    "extends": ["airbnb-base", "prettier"],
    "env": {
        "node": true,
        "commonjs": true,
        "es2021": true
    },
    "rules": {
        "import/extensions": ["error", "ignorePackages"]
    }
}
